name: Build

on:
  push:
    tags:
      - '*'

env:
  PLUGIN_REPO: WorkingRobot/MyDalamudPlugins
  PROJECT_NAME: Craftimizer

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.0.3

      - name: Download Dalamud
        run: |
          Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/stg/latest.zip -OutFile latest.zip
          Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev\"

      - name: Build
        run: |
          dotnet restore -r win ${{env.PROJECT_NAME}}.sln
          dotnet build --configuration Release
        env:
          DOTNET_CLI_TELEMETRY_OUTPUT: true

      - name: Upload Artifact
        uses: actions/upload-artifact@v2.2.1
        with:
          name: ${{env.PROJECT_NAME}}
          path: ${{env.PROJECT_NAME}}/bin/x64/Release/${{env.PROJECT_NAME}}
          if-no-files-found: error

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{env.PROJECT_NAME}}/bin/x64/Release/${{env.PROJECT_NAME}}/*

      - name: Trigger Plugin Repo Update
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{secrets.PAT}}
          repository: ${{env.PLUGIN_REPO}}
          event-type: new-release